 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 3994px;
}

.u-section-1 .u-group-1 {
  min-height: 2628px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 10px auto 0;
}

.u-section-1 .u-group-2 {
  --radius: 30px;
  min-height: 241px;
  height: auto;
  background-image: none;
  width: 1108px;
  margin: 18px 13px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 303px;
  left: 23px;
  right: auto;
}

.u-section-1 .u-text-2 {
  margin: 10px 568px 0 344px;
}

.u-section-1 .u-text-3 {
  width: 421px;
  margin: 18px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -70px -13px 0 939px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px 31px 0 auto;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-group-3 {
  --radius: 30px;
  min-height: 232px;
  height: auto;
  background-image: none;
  width: 1108px;
  margin: 18px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 303px;
  left: 23px;
  right: auto;
}

.u-section-1 .u-text-5 {
  margin: 13px auto 0 357px;
}

.u-section-1 .u-text-6 {
  margin: 19px 387px 0 354px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -107px -13px 0 904px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 43px 14px 0 798px;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-group-4 {
  min-height: 1965px;
  height: auto;
  width: 1140px;
  margin: 85px auto 0 -6px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  margin: 18px auto 0;
}

.u-section-1 .u-group-5 {
  --radius: 30px;
  min-height: 239px;
  height: auto;
  background-image: none;
  width: 1073px;
  margin: 19px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 303px;
  left: 23px;
  right: auto;
}

.u-section-1 .u-text-9 {
  margin: 18px auto 0 354px;
}

.u-section-1 .u-text-10 {
  margin: 19px 278px 0 353px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -108px -13px 0 904px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px 14px 0 798px;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-group-6 {
  --radius: 30px;
  min-height: 240px;
  height: auto;
  background-image: none;
  width: 1073px;
  margin: 19px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  width: 303px;
  left: 23px;
  right: auto;
}

.u-section-1 .u-text-12 {
  margin: 9px auto 0 351px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 39px -13px 0 904px;
}

.u-section-1 .u-text-14 {
  margin: -24px 282px 0 348px;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -49px 14px 0 798px;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-group-7 {
  min-height: 1305px;
  height: auto;
  width: 1140px;
  margin: 66px auto 0 -3px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-text-15 {
  margin: 18px auto 0;
}

.u-section-1 .u-group-8 {
  --radius: 30px;
  min-height: 232px;
  height: auto;
  background-image: none;
  width: 1073px;
  margin: 19px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  width: 303px;
  left: 23px;
  right: auto;
  object-position: 50% 69.4%;
}

.u-section-1 .u-text-16 {
  margin: 0 auto 0 351px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 31px -16px 0 908px;
}

.u-section-1 .u-text-18 {
  margin: -24px 328px 0 351px;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -31px 17px 0 auto;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-group-9 {
  --radius: 30px;
  min-height: 231px;
  height: auto;
  background-image: none;
  width: 1073px;
  margin: 27px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  width: 303px;
  left: 23px;
  right: auto;
}

.u-section-1 .u-text-19 {
  margin: 10px auto 0 358px;
}

.u-section-1 .u-text-20 {
  margin: 30px 307px 0 358px;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -57px -13px 0 904px;
}

.u-section-1 .u-btn-6 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 43px 14px 0 798px;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-group-10 {
  min-height: 652px;
  height: auto;
  width: 1140px;
  margin: 67px auto 0 -3px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-22 {
  margin: 18px auto 0;
}

.u-section-1 .u-group-11 {
  --radius: 30px;
  min-height: 240px;
  height: auto;
  background-image: none;
  width: 1073px;
  margin: 19px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  width: 303px;
  left: 23px;
  right: auto;
  object-position: 50.52% 50%;
}

.u-section-1 .u-text-23 {
  margin: 0 auto 0 348px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -9px -13px 0 904px;
}

.u-section-1 .u-text-25 {
  margin: 9px 331px 0 354px;
}

.u-section-1 .u-btn-7 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -82px 14px 0 798px;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-group-12 {
  --radius: 30px;
  min-height: 236px;
  height: auto;
  background-image: none;
  width: 1073px;
  margin: 23px 28px 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  width: 303px;
  left: 23px;
  right: auto;
}

.u-section-1 .u-text-26 {
  margin: 0 auto 0 350px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -9px -13px 0 904px;
}

.u-section-1 .u-btn-8 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 13px 14px 0 798px;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-text-28 {
  margin: -65px 328px 0 350px;
}

.u-section-1 .u-group-13 {
  min-height: 1335px;
  height: auto;
  margin: 8px 0 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-text-29 {
  margin: 40px auto 0;
}

.u-section-1 .u-group-14 {
  --radius: 30px;
  min-height: 237px;
  height: auto;
  background-image: none;
  width: 1073px;
  margin: 31px auto 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  width: 303px;
  left: 23px;
  right: auto;
  object-position: 50% 0%;
}

.u-section-1 .u-text-30 {
  margin: 17px 0 0 361px;
}

.u-section-1 .u-text-31 {
  margin: 20px 320px 0 361px;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: -67px -13px 0 904px;
}

.u-section-1 .u-btn-9 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 14px 14px 0 798px;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-group-15 {
  --radius: 30px;
  min-height: 236px;
  height: auto;
  background-image: none;
  width: 1073px;
  margin: 28px 24px 0 auto;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  width: 303px;
  left: 23px;
  right: auto;
  object-position: 61.09% 50%;
}

.u-section-1 .u-text-33 {
  margin: 10px auto 0 360px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 26px -18px 0 909px;
}

.u-section-1 .u-text-35 {
  margin: -9px 326px 0 360px;
}

.u-section-1 .u-btn-10 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -55px 16px 0 auto;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-group-16 {
  min-height: 655px;
  height: auto;
  margin-top: -658px;
  margin-bottom: 3px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-text-36 {
  margin: 19px auto 0;
}

.u-section-1 .u-group-17 {
  --radius: 30px;
  min-height: 234px;
  height: auto;
  background-image: none;
  width: 1073px;
  margin: 19px auto 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  width: 303px;
  left: 23px;
  right: auto;
  object-position: 50% 18.64%;
}

.u-section-1 .u-text-37 {
  margin: 11px auto 0 355px;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 27px -18px 0 909px;
}

.u-section-1 .u-text-39 {
  margin: -24px 305px 0 337px;
}

.u-section-1 .u-btn-11 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -65px 10px 0 auto;
  padding: 21px 78px 22px 77px;
}

.u-section-1 .u-group-18 {
  --radius: 30px;
  min-height: 236px;
  height: auto;
  background-image: none;
  width: 1073px;
  margin: 27px 28px 0 auto;
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-image-12 {
  width: 303px;
  left: 23px;
  right: auto;
  object-position: 45.19% 50%;
}

.u-section-1 .u-text-40 {
  margin: 14px auto 0 348px;
}

.u-section-1 .u-text-41 {
  margin: 36px 373px 0 349px;
}

.u-section-1 .u-btn-12 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -55px 14px 0 798px;
  padding: 21px 78px 22px 77px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 484px;
    margin-left: 260px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 855px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 295px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 57px;
    margin-right: 303px;
    margin-left: 265px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -58px;
    margin-right: 53px;
    margin-left: 714px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -14px;
    margin-right: 0;
    margin-left: 679px;
  }

  .u-section-1 .u-group-4 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-9 {
    margin-left: 310px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 212px;
    margin-left: 287px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 838px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 679px;
  }

  .u-section-1 .u-group-6 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-12 {
    margin-right: 295px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 53px;
    margin-left: 714px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 5px;
    margin-right: 49px;
    margin-left: 265px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -77px;
    margin-right: 0;
    margin-left: 679px;
  }

  .u-section-1 .u-group-7 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-16 {
    margin-left: 308px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 841px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 261px;
    margin-left: 285px;
    width: 394px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-group-9 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-19 {
    margin-left: 314px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 218px;
    margin-left: 314px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 838px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
    margin-left: 679px;
  }

  .u-section-1 .u-group-10 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-group-11 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-23 {
    margin-left: 305px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 838px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 265px;
    margin-left: 288px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
    margin-left: 679px;
  }

  .u-section-1 .u-group-12 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-26 {
    margin-right: 295px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 53px;
    margin-left: 714px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -14px;
    margin-right: 0;
    margin-left: 679px;
  }

  .u-section-1 .u-text-28 {
    margin-top: -46px;
    margin-right: 262px;
    margin-left: 265px;
  }

  .u-section-1 .u-group-13 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-14 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-30 {
    margin-left: 228px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 228px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 838px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
    margin-left: 679px;
  }

  .u-section-1 .u-group-15 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-33 {
    margin-right: 295px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-34 {
    margin-top: -71px;
    margin-right: 53px;
    margin-left: 714px;
  }

  .u-section-1 .u-text-35 {
    width: 387px;
    margin-top: 5px;
    margin-right: 238px;
    margin-left: 265px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -106px;
    margin-right: 0;
  }

  .u-section-1 .u-group-16 {
    height: auto;
  }

  .u-section-1 .u-group-17 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-text-37 {
    margin-left: 311px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 843px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 239px;
    margin-left: 271px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-group-18 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-40 {
    margin-right: 295px;
    margin-left: 283px;
  }

  .u-section-1 .u-text-41 {
    margin-top: 59px;
    margin-right: 307px;
    margin-left: 265px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -106px;
    margin-right: 0;
    margin-left: 679px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 374px;
    margin-left: 150px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 745px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 226px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 193px;
    margin-left: 200px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 494px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 459px;
  }

  .u-section-1 .u-group-4 {
    width: 720px;
  }

  .u-section-1 .u-group-5 {
    width: 720px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 237px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 102px;
    margin-left: 177px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 728px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 459px;
  }

  .u-section-1 .u-group-6 {
    width: 720px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 226px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 494px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 200px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -106px;
    margin-left: 459px;
  }

  .u-section-1 .u-group-7 {
    width: 720px;
  }

  .u-section-1 .u-group-8 {
    width: 720px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 236px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 731px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 151px;
    margin-left: 175px;
  }

  .u-section-1 .u-group-9 {
    width: 720px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 241px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 71px;
    margin-left: 241px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 728px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 459px;
  }

  .u-section-1 .u-group-10 {
    width: 720px;
  }

  .u-section-1 .u-group-11 {
    width: 720px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 234px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 728px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 155px;
    margin-left: 178px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 459px;
  }

  .u-section-1 .u-group-12 {
    width: 720px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 226px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 494px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 459px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 152px;
    margin-left: 200px;
  }

  .u-section-1 .u-group-14 {
    width: 720px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-31 {
    margin-left: 8px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 728px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 459px;
  }

  .u-section-1 .u-group-15 {
    width: 720px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 226px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 494px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 92px;
    margin-left: 200px;
  }

  .u-section-1 .u-group-17 {
    width: 720px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 238px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 733px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 129px;
    margin-left: 161px;
  }

  .u-section-1 .u-group-18 {
    width: 720px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 226px;
    margin-left: 213px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 197px;
    margin-left: 200px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 459px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 284px;
    margin-left: 60px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 655px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 170px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 103px;
    margin-left: 154px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 339px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 279px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
  }

  .u-section-1 .u-group-5 {
    width: 540px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 178px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 12px;
    margin-left: 87px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 638px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 279px;
  }

  .u-section-1 .u-group-6 {
    width: 540px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 170px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 339px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 154px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -135px;
    margin-left: 279px;
  }

  .u-section-1 .u-group-7 {
    width: 540px;
  }

  .u-section-1 .u-group-8 {
    width: 540px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 177px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 641px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 61px;
    margin-left: 85px;
  }

  .u-section-1 .u-group-9 {
    width: 540px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 181px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
    margin-left: 181px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 638px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 279px;
  }

  .u-section-1 .u-group-10 {
    width: 540px;
  }

  .u-section-1 .u-group-11 {
    width: 540px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 176px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 638px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 65px;
    margin-left: 88px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 279px;
  }

  .u-section-1 .u-group-12 {
    width: 540px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 170px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 339px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 279px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 62px;
    margin-left: 154px;
  }

  .u-section-1 .u-group-14 {
    width: 540px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 0;
  }

  .u-section-1 .u-text-31 {
    margin-right: 148px;
    margin-left: 0;
  }

  .u-section-1 .u-text-32 {
    margin-left: 638px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 279px;
  }

  .u-section-1 .u-group-15 {
    width: 540px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 170px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 339px;
  }

  .u-section-1 .u-text-35 {
    margin-right: 0;
    margin-left: 154px;
  }

  .u-section-1 .u-group-17 {
    width: 540px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 179px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 643px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 39px;
    margin-left: 71px;
  }

  .u-section-1 .u-group-18 {
    width: 540px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 170px;
    margin-left: 164px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 107px;
    margin-left: 154px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -135px;
    margin-left: 279px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 144px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 555px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 107px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 139px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 79px;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 112px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 538px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 79px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 107px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 139px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 95px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -221px;
    margin-left: 79px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-17 {
    margin-left: 541px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
    width: 340px;
  }

  .u-section-1 .u-group-9 {
    width: 340px;
  }

  .u-section-1 .u-text-19 {
    margin-left: 114px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 114px;
  }

  .u-section-1 .u-text-21 {
    margin-left: 538px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 79px;
  }

  .u-section-1 .u-group-10 {
    width: 340px;
  }

  .u-section-1 .u-group-11 {
    width: 340px;
  }

  .u-section-1 .u-text-23 {
    margin-left: 111px;
  }

  .u-section-1 .u-text-24 {
    margin-left: 538px;
  }

  .u-section-1 .u-text-25 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 79px;
  }

  .u-section-1 .u-group-12 {
    width: 340px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 107px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-27 {
    margin-left: 139px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 79px;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-1 .u-group-14 {
    width: 340px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
  }

  .u-section-1 .u-text-32 {
    margin-left: 538px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 79px;
  }

  .u-section-1 .u-group-15 {
    width: 340px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 107px;
    margin-left: 114px;
  }

  .u-section-1 .u-text-34 {
    margin-left: 139px;
  }

  .u-section-1 .u-text-35 {
    width: 340px;
    margin-left: 95px;
  }

  .u-section-1 .u-group-17 {
    width: 340px;
  }

  .u-section-1 .u-text-37 {
    margin-left: 113px;
  }

  .u-section-1 .u-text-38 {
    margin-left: 543px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-18 {
    width: 340px;
  }

  .u-section-1 .u-text-40 {
    margin-right: 107px;
    margin-left: 101px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 0;
    margin-left: 95px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: -163px;
    margin-left: 79px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 78px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0 auto 0 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-bottom: 60px;
    font-size: 1rem;
    margin-top: 60px;
  }
}